#form{
    margin-left: 30px;
}
h2{
    color: green;
}
h4{
    color: rgb(255, 0, 140);
}
#appendChild{
    display: inline-flex;
    justify-content: space-evenly;
    
}
.img-meal{
    cursor: pointer;
}

.img-meat{
    width: 400px;
} 
#para{
    width: 400px;
    color: rgb(240, 0, 60);
}